<footer class="bg-dark text-white mt-5 p-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Strengthout.com is dedicated to providing the best trained and skilled resources.</p>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: <a href="mailto:info@strengthout.com" class="text-white">info&#64;strengthout.com</a></p>
        <p>Phone: +1 234 567 890</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="#" class="text-white me-2"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <p>&copy; 2024 Strength.com. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>